<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>location</key>
		<string>1.jpg</string>
		<key>description</key>
		<string>闪电体育3月3日讯(闪电体育徐凯华)山东鲁能与北京国安的赛前踩场训练中,一共有22名队员参加训练,全队只是开放训练</string>
	</dict>
	<dict>
		<key>location</key>
		<string>2.jpg</string>
		<key>description</key>
		<string>山东鲁能与北京国安的赛前踩场训练中,一共有22名队员参加训练,全队只是开放训练了15分钟,便宣布封闭。训练中,张弛和崔鹏两人并没有参加</string>
	</dict>
	<dict>
		<key>location</key>
		<string>3.jpg</string>
		<key>description</key>
		<string>2017年4月20日 - 北京时间4月14日,中超联赛第5轮前瞻,北京国安踩场训练备战鲁能,索里亚诺、克里梅茨现身。 北京时间4月14日,中超联赛第5轮前瞻,</string>
	</dict>
	<dict>
		<key>location</key>
		<string>4.jpg</string>
		<key>description</key>
		<string>山东鲁能与北京国安的赛前踩场训练中,一共有22名队员参加训练,全队只是开放训练了15分钟,便宣布封闭。训练中,张弛和崔鹏两人并没有参加</string>
	</dict>
	<dict>
		<key>location</key>
		<string>5.jpg</string>
		<key>description</key>
		<string>鲁能踩场备战国安字的行书写法,鲁能踩场备战国安字字书法欣赏,鲁能踩场备战国安的古字体,鲁能踩场备战国安的各种字体,鲁能踩场备战国安字用毛笔怎么写,鲁能踩场备战...</string>
	</dict>
	<dict>
		<key>location</key>
		<string>6.jpg</string>
		<key>description</key>
		<string>距离备受关注的鲁京大战还有一天,鲁能泰山队也是抓紧进行着最后的备战。3日晚上,鲁能前往鲁能大球场进行了赛前最后一次踩场训练;而在2日前,鲁能就已经</string>
	</dict>
	<dict>
		<key>location</key>
		<string>7.jpg</string>
		<key>description</key>
		<string>2010年8月25日 - 腾讯体育讯 2010年8月25日,卫冕冠军北京国安队来到山东省体育中心进行适应场地训练。主教练洪元硕表示已经找到对付鲁能的办法,有信心在客场拿下鲁能。</string>
	</dict>
	<dict>
		<key>location</key>
		<string>8.jpg</string>
		<key>description</key>
		<string>2012年4月13日 - 今晚,国安将在工体迎战强敌鲁能,为专心备战,球队放弃赛前踩场。赛前踩场训练是国安的惯例,不过因为本赛季成绩起伏,上轮客场打完实德后,主帅帕切科调整</string>
	</dict>
	<dict>
		<key>location</key>
		<string>9.jpg</string>
		<key>description</key>
		<string>近日有网友偶遇在白云观祈福的周冬雨,并晒出了图片,从照片中可以看出周冬雨十分低调,而且祈福的时候模样非常虔诚。 近日,有网友在白云观偶遇周冬雨</string>
	</dict>
	<dict>
		<key>location</key>
		<string>10.jpg</string>
		<key>description</key>
		<string>10小时前 - 周冬雨烧香祈福被偶遇 素颜现身超低调 近日,有网友在白云观偶遇周冬雨。当日周冬雨穿轻便大衣扎半丸子头,在工作人员的陪同下低调素颜现身,非常虔诚的</string>
	</dict>
	<dict>
		<key>location</key>
		<string>11.jpg</string>
		<key>description</key>
		<string>10小时前 - 近日,有网友在白云观偶遇周冬雨。当日周冬雨穿轻便大衣扎半丸子头,在工作人员的陪同下低调素颜现身,非常虔诚的烧香祈福。 周冬雨现身白云观祈福,被网</string>
	</dict>
	<dict>
		<key>location</key>
		<string>12.jpg</string>
		<key>description</key>
		<string>近日,有网友在白云观偶遇周冬雨。当日周冬雨穿轻便大衣扎半丸子头,在工作人员的陪同下低调素颜现身,非常虔诚的烧香祈福。 周冬雨现身白云观祈福,被网友偶遇</string>
	</dict>
</array>
</plist>
